<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <style>

        html
        {
            background-color: #222;
        }

        body
        {
            margin: 0;
            background: #222;
            color: #CCC;
        }

        nav
        {
            float: inherit;
            background: #333;
            margin: 0;
            padding: 30px 30px 0 15px;
            height:100%;
            border-left: 0;
            position: absolute;
            bottom: 0;
            width: 160px;
        }

        #main
        {
            float: inherit;
            position: relative;
            margin: 0 20px 0 180px;
            width: inherit;
        }

        h1
        {
            margin: 0;
            color: #FFF;
        }

        section
        {
            background-color: inherit;
            padding: 0;
            margin-right: 0;
        }

        footer
        {
            position: relative;
            left: 160px;
        }

        nav ul a, nav ul a:visited, nav ul a:active
        {
            font-family: inherit;
            color: #999;
        }

        .prettyprint
        {
            width: 80%;
            overflow: auto;
            border-radius:8px;
        }

        .prettyprint.source {
            width: inherit;
        }

        .prettyprint code
        {
            font-family: 'Droid Sans Mono Dotted', 'Droid Sans Mono', 'Consolas', 'Lucida Console', Monaco, monospace;
            font-size: 13px;
            line-height: 15px;
            display: block;
            padding: 4px 12px;
            margin: 0;
            background-color: #111;
            color: #000;
        }

        .params, .props
        {
            border-spacing: 0;
            border: 0;
            border-collapse: collapse;
        }

        .params .name, .props .name, .name code {
            color: #BBCC66;
            font-family: "Droid Sans Mono Dotted", Consolas, 'Lucida Console', Monaco, monospace;
            font-size: 100%;
        }

        .params td, .params th, .props td, .props th
        {
            border: 2px solid #111;
            margin: 0px;
            text-align: left;
            vertical-align: top;
            padding: 4px 6px;
            display: table-cell;
        }

        .params thead tr, .props thead tr
        {
            background-color: #1E1E1E;
            font-weight: bold;
        }

        .params .params thead tr, .props .props thead tr
        {
            background-color: #1E1E1E;
            font-weight: bold;
        }

        .disabled {
            color: #454545;
        }

        article dl {
            margin-bottom: 0;
        }

        .description {
            margin-bottom: 0;
        }

        .details {
            margin-top: 14px;
            border-left: 6px solid #333;
            background: #282828;
            padding: 4px;
            6px solid #333;
            font-size: 0.8em;
        }

        .details dt, .details li {
            padding-top: 0;
        }

        tr > th:last-child {
            border-right: 2px solid #111;
        }

        .name, .signature {
            font-family:inherit;
            color: #FFCC66;
        }

        .signature {
            color: #999;
        }

        .type-signature {
            color: #888;
            display:none;
        }

    </style>
</head>

<body>

<nav>
    <?js= this.nav ?>
</nav>

<div id="main">

    <h1 class="page-title"><?js= title ?></h1>

    <?js= content ?>
</div>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
